apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: waypoint
  namespace: prometheus
  labels:
    release: prometheus
spec:
  namespaceSelector:
    any: true
  selector:
    matchLabels:
      gateway.networking.k8s.io/gateway-name: waypoint
      gateway.networking.k8s.io/gateway-class-name: istio-waypoint
  endpoints:
    - port: http-envoy-prom
      path: /stats/prometheus
      interval: 30s
