apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: grafana
  namespace: grafana
spec:
  ingressClassName: nginx
  tls:
    - hosts:
        - monitoring.limtaehyun.dev
      secretName: limtaehyun-dev-tls
  rules:
    - host: "monitoring.limtaehyun.dev"
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: grafana
                port:
                  number: 80
