apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: authentik-ingress
  annotations:
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
    nginx.ingress.kubernetes.io/configuration-snippet: |
      proxy_set_header X-Forwarded-Proto https;
      proxy_set_header X-Forwarded-Scheme https;
      proxy_set_header X-Forwarded-Host $host;

spec:
  ingressClassName: nginx
  rules:
    - host: auth.limtaehyun.dev
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: authentik-service
                port:
                  number: 9000
