apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: coder-wildcard
  namespace: coder
spec:
  ingressClassName: nginx
  rules:
    - host: "*.coder.limtaehyun.dev"
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: coder
                port:
                  number: 80
